<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br"
    th:fragment="layout(content)">
<head>
    <meta charset="utf-8" />
    <title>VerityLabs</title>
    <link rel="icon" type="image/png" th:href="@{/img/favicon.png}" />
    <link th:href="@{/css/sb-admin-2.css}" rel="stylesheet">
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet">
    <link th:href="@{/css/sb-admin-2.css}" rel="stylesheet">
    <link th:href="@{/css/sidebar.css}" rel="stylesheet">
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">

</head>
<body>
    <div>
        <div id="wrapper">

            <div th:replace="~{fragments/sidebar :: sidebar}"></div>

            <div id="content-wrapper" class="d-flex flex-column">

                <div id="content">

                    <div th:replace="~{fragments/topbar :: topbar}"></div>

                    <main>
                        <th:block th:replace="${content}"></th:block>
                    </main>
                </div>
            </div>
        </div>
    </div>



    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/sb-admin-2.js}"></script>
</body>
