<ul th:fragment="sidebar"
    class="navbar-nav bg-marsala sidebar sidebar-dark accordion lims-sidebar"
    id="accordionSidebar"
    xmlns:th="http://www.thymeleaf.org">

    <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/dashboard}">
        <span class="brand-mark">VL</span>
        <span class="sidebar-brand-text">Verity LIMS</span>
    </a>

    <hr class="sidebar-divider my-0">

    <li class="nav-item active">
        <a class="nav-link" th:href="@{/dashboard}">
            <i class="fas fa-fw fa-chart-line"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <hr class="sidebar-divider">

    <div class="sidebar-heading">Operacao</div>

    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-fw fa-user-injured"></i>
            <span>Pacientes</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-fw fa-vial"></i>
            <span>Amostras</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-fw fa-clipboard-list"></i>
            <span>Pedidos</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-fw fa-file-medical-alt"></i>
            <span>Resultados</span>
        </a>
    </li>

    <hr class="sidebar-divider">

    <div class="sidebar-heading">Suprimentos</div>

    <li class="nav-item">
        <a class="nav-link collapsed"
           href="#"
           data-toggle="collapse"
           data-target="#inventoryMenu"
           aria-expanded="true"
           aria-controls="inventoryMenu">
            <i class="fas fa-fw fa-boxes"></i>
            <span>Inventario</span>
        </a>
        <div id="inventoryMenu" class="collapse show" data-parent="#accordionSidebar">
            <div class="collapse-inner">
                <a class="collapse-item" th:href="@{/inventory/index}">Visao geral</a>
                <a class="collapse-item" th:href="@{/inventory/list}">Estoque</a>
                <a class="collapse-item" th:href="@{/inventory/entry}">Entrada</a>
                <a class="collapse-item" th:href="@{/inventory/exit}">Saida</a>
            </div>
        </div>
    </li>

    <hr class="sidebar-divider">

    <div class="sidebar-heading">Administracao</div>

    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-fw fa-flask"></i>
            <span>Exames</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-fw fa-users-cog"></i>
            <span>Usuarios</span>
        </a>
    </li>
</ul>
