<nav th:fragment="topbar"
     class="navbar navbar-expand navbar-light bg-white topbar static-top lims-topbar"
     xmlns:th="http://www.thymeleaf.org">

    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <form class="d-none d-md-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 navbar-search lims-search">
        <div class="input-group">
            <input type="text"
                   class="form-control"
                   placeholder="Buscar paciente, amostra ou pedido"
                   aria-label="Buscar paciente, amostra ou pedido">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" aria-label="Buscar">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </form>

    <ul class="navbar-nav ml-auto align-items-center">
        <li class="nav-item d-none d-lg-flex topbar-shift">
            <span class="shift-dot"></span>
            <span>Plantao ativo</span>
        </li>

        <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <span class="badge badge-danger badge-counter">4</span>
            </a>
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">Alertas operacionais</h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="mr-3">
                        <div class="icon-circle bg-danger">
                            <i class="fas fa-temperature-low text-white"></i>
                        </div>
                    </div>
                    <div>
                        <div class="small text-gray-500">Agora</div>
                        <span class="font-weight-bold">Geladeira 02 fora da faixa</span>
                    </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" th:href="@{/inventory/index}">
                    <div class="mr-3">
                        <div class="icon-circle bg-warning">
                            <i class="fas fa-flask text-white"></i>
                        </div>
                    </div>
                    <div>
                        <div class="small text-gray-500">Estoque</div>
                        <span>7 itens abaixo do minimo</span>
                    </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="mr-3">
                        <div class="icon-circle bg-primary">
                            <i class="fas fa-vial text-white"></i>
                        </div>
                    </div>
                    <div>
                        <div class="small text-gray-500">Amostras</div>
                        <span>6 resultados aguardam revisao</span>
                    </div>
                </a>
            </div>
        </li>

        <div class="topbar-divider d-none d-sm-block"></div>

        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-700 small">Analista tecnico</span>
                <span class="user-avatar">AT</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Perfil
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fas fa-cog fa-sm fa-fw mr-2 text-gray-400"></i>
                    Preferencias
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Sair
                </a>
            </div>
        </li>
    </ul>
</nav>
